<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <link rel="stylesheet" href="/css/display-user.css"/>
</head>
<body>
	<p>
		<a href="/logout">< Log out</a>
	</p>
	<h1>Club members</h1>
	<div class="list">
		<div class="section" th:each="user : ${users}">
			<img src="/svg/user.svg" alt="User profile picture">
			<div>
				<h2 style="text-align: center">
					<a th:text="${user.name != null} ? ${user.name} : ${user.username}" th:href="@{|/user/${user.username}|}"></a>
				</h2>
			</div>
		</div>
	</div>
</body>
</html>
